.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__info {
    padding-left: 20px
}

.checkoutProduct__info > button {
    background-color: #ff9f00;
      border-radius: 12px;
      color: #000;
      cursor: pointer;
      font-weight: bold;
      padding: 5px 6px;
      text-align: center;
      transition: 200ms;
      box-sizing: border-box;
      border: 0;
      font-size: 16px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
}
.checkoutProduct__info > button:not(:disabled):hover,
.checkoutProduct__info > button:not(:disabled):focus {
  outline: 0;
  background: darkorange;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.checkoutProduct__info > button:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}
.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }

.checkoutProduct__rating {
    display: flex;
  }

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}